@font-face {
	font-family: 'HankenGrotesk';
	font-display: swap;
	font-weight: 100 900;
	src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

:root {
	--clr-background: linear-gradient(hsl(200, 58%, 50%, 0.9), hsl(210, 58%, 20%, 0.8));
	--clr-card: hsl(200, 60%, 55%, 0.9);
	--clr-nav: hsl(208, 60%, 40%, 0.9);
	--clr-green: hsl(90, 50%, 50%);
	--clr-red: hsl(0, 90%, 50%);
	--clr-blue: hsl(208, 90%, 45%, 0.9);
	--clr-yellow: hsl(70, 90%, 50%, 0.9);
	--clr-white: hsl(208, 50%, 90%, 0.9);
	--clr-black: hsl(0, 0%, 10%, 0.8);
	--clr-shadow: hsl(200, 50%, 100%, 0.5);
	--clr-border: hsl(0, 0%, 100%);
}

*, 
*::before, 
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: clamp(14px, 2vw, 16px);
}


body {
	width: 100vw;
	min-height: 100vh;
	background: var(--clr-background);
	font-family: Arial, san-serif, HankenGrotesk;
	font-weight: 300;
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 5rem;
	background: var(--clr-nav);
}

main {
	width: 100vw;
	min-height: 60vh;
	margin: 0 auto;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	margin-top: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.footer__logo {
	height: 40px;
	aspect-ratio: 1/1;
}

/*local*/

h1 {
	color: var(--clr-white);
	margin-top: 0.5rem;
}

ul {
	list-style: none;
}

.nav__logo img {
	position: absolute;
	margin: 1rem 0 0 2rem;
	height: 110%;
	object-fit: cover;
	z-index: 10;
}

.hamburger__toggle {
	padding: 2rem;
	cursor: pointer;
}

.hamburger {
	position: relative;
	content: '';
	height: 3px;
	width: 20px;
	background: var(--clr-white);
	border-radius: 2px;
	transition: all 0.2s ease;
}

.hamburger::before {
	position: absolute;
	content: '';
	height: 3px;
	width: 20px;
	background: var(--clr-white);
	border-radius: 2px;
	transform: translateY(-6px);
	transition: all 0.5s ease;
}

.hamburger::after {
	position: absolute;
	content: '';
	height: 3px;
	width: 20px;
	background: var(--clr-white);
	border-radius: 2px;
	transform: translateY(6px);
	transition: all 0.5s ease;
}

.hamburger.active {
	height: 0px;
}

.hamburger.active::before {
	transform: translate(0px, 0px);
	rotate: 45deg;
}

.hamburger.active::after {
	transform: translate(0px, 0px);
	rotate: -45deg;
}


.nav__items {
	position: absolute;
	z-index: 1;
	top: 5rem;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	height: 0px;
	overflow: hidden;
	transition: all 2s ease;
}

.nav__items.active {
	overflow: visible;
	height: fit-content;
}


.nav__item {
	width: 100%;
	text-align: center;
	background: var(--clr-nav);
	cursor: pointer;
}

.nav__item:hover {
	background: var(--clr-blue);
}

.nav__item p {
	width: 100%;
	padding: 1rem 5rem;
}


@media (min-width: 660px) {

	body {
		font-size: 16px;
	}

	main {
		width: clamp(400px, 90vw, 812px);
		min-height: 60vh;
		margin: 0 auto;
		display: flex;
		gap: 2rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.nav__logo img {
		height: 150%;
	}

}