.picture__slider {
	position: relative;
	width: 100vw;
	height: 300px;
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.sliderOne {
	position: absolute;
	width: 100vw;
	height: 300px;
	background-size: cover;
	background-position: center;
	opacity: 1;
	transition: opacity 1s;
	z-index: 0;
}


.sliderTwo {
	position: absolute;
	width: 100vw;
	height: 300px;
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 1s;
	z-index: 0;
}

.hero__section {
	font-family: HankenGrotesk;
	font-weight: 300;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}


.hero__card {
	background: var(--clr-card);
	border-radius: 0rem;
	padding: 1rem;
}

.hero__card h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--clr-white);
}

.hero__card h2 {
	font-size: 1.25rem;
	font-weight: 200;
	color: var(--clr-white);
}

.hero__card p {
	font-size: 1rem;
	color: var(--clr-black);
}

.cta__card {
	background: var(--clr-card);
	border-radius: 0rem;
	padding: 1rem;
}

.cta__card h1{
	font-size: 3rem;
	text-transform: uppercase;
	color: var(--clr-white);
}

.cta__card h2{
	font-size: 1.25rem;
	font-weight: 200;
	text-align: center;
	color: var(--clr-white);
}

.cta__card p {
	font-size: 1rem;
	color: var(--clr-black);
	text-align: center;
}

.cta__card p span {
	font-size: 4rem;
	font-weight: 600;
	color: var(--clr-green);
}

.cta__card p span:before {
	content: 'from';
	font-size: .75rem;
	font-weight: 300;
	color: var(--clr-black);
}

.cta__card p span:after {
	content: 'per person';
	font-size: .75rem;
	font-weight: 300;
	color: var(--clr-black);
}


.cta__card button {
	width: 100%;
	margin: 1rem 0 0 0;
	padding: 5px 2rem;
	border: none;
	border-radius: 15px;
	font-size: 1.5rem;
	color: var(--clr-black);
	background: var(--clr-green);
	cursor: pointer;
}

.main__section {
	font-family: HankenGrotesk;
	font-weight: 300;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}


.main__card {
/*	background: var(--clr-card);*/
	border-radius: 0rem;
	padding: 1rem;
}

.main__card > ul {
	list-style: none;
}

.main__card button {
	width: 100%;
	margin: 1rem 0 0 0;
	padding: 5px 2rem;
	border: none;
	border-radius: 15px;
	font-size: 1.5rem;
	color: var(--clr-black);
	background: var(--clr-green);
	cursor: pointer;
}

.page__title {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
	width: clamp(100px, 10vw, 200px);
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: var(--clr-green);
/*	margin: 250px 0 0rem 80vw;*/
	opacity: 0.7;
}

.page__title h1 {
	width: 100%;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--clr-black);
	rotate: 9deg;
}

.page__title h1 span {
	display: block;
	font-size: 2.25rem;
}


.page__title .clip {
	z-index: 1;

	font-size: 3rem;
	background-image: url('assets/images/tranquil-view.jpg');
	background-position: top;
	background-size: cover;
	background-clip: text;
	color: transparent;
	color: var(--clr-white);
	margin-top: 1rem;
	margin-bottom: -6.5rem;
	opacity: 0.8;
}

.sponsors {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4rem;
	align-items: center;
	justify-content: center;
}

.sponsors img {
	max-height: 120px;
	margin: 0 auto;
}


.instruction {
	width: clamp(360px, 95vw, 440px);
	margin: auto;
}

form {
	width: clamp(360px, 95vw, 440px);
}

form p {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 1rem;
}

form label {
	text-align: left;
	font-size: 0.9rem;
	padding: 6px;
}

form input {
	padding: 5px;
}

form textarea {
	padding: 5px;
	width: 100%;
}

form select {
	padding: 5px;
}

form input[type='checkbox'] {
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 100%;
}


form input[type="submit"] {
	margin-top: 4rem;
	width: 100%;
	border: none;
	border-radius: 15px;
	font-size: 1.5rem;
	color: var(--clr-black);
	background: var(--clr-green);
	cursor: pointer;
}

.confirm {
	width: clamp(360px, 95vw, 400px);
	background: var(--clr-white);
	padding: 1rem;
}

.confirm p {
	display: grid;
	grid-template-columns: 110px 1fr;
}

.confirm p span {
	font-size: 1.25rem;
}

button {
	width: 100%;
	margin: 1rem 0 0 0;
	padding: 5px 2rem;
	border: none;
	border-radius: 15px;
	font-size: 1.5rem;
	color: var(--clr-black);
	background: var(--clr-green);
	cursor: pointer;
}

.error {
	font-size: 2rem;
	color: var(--clr-green);
}

.registrations {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.registrations h2 {
	font-size: 1.2rem;
	margin-top: 6px;
}

.registrations ul {
	list-style: none;
}

.registrations .header,
.registrations li a {
	display: grid;
	grid-template-columns: 4fr 1fr 2fr 5fr;
	border: solid 1px var(--clr-white);
	color: var(--clr-white);
	background: var(--clr-blue);
	padding: 3px 1rem;
} 

.registrations li a {
	border: solid 1px var(--clr-white);
	color: var(--clr-black);
	background: var(--clr-white);
} 

.registrations li:nth-child(even) {
	background: var(--clr-shadow);
} 

.detail ul {
	list-style: none;	
}


.detail .header,
.detail li {
	display: grid;
	grid-template-columns: 1fr 4fr 6fr 1fr 1fr;
	border: solid 1px var(--clr-white);
	color: var(--clr-white);
	background: var(--clr-blue);
	padding: 3px 1rem;
}

.detail li {
	color: var(--clr-black);
	background: var(--clr-white);
}

.detail li:nth-child(even) {
	background: var(--clr-shadow);
}

.brief {
	max-width: 600px;
	display: grid;
	grid-gap: 0.5rem;
	background: var(--clr-white);
	padding: 1rem;
}

.brief li:before {
	content: "🚴";
	padding: 0 5px;
}

.two-columns {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1rem;
}

.two-columns li {
	font-size: 0.8rem;
}

.directions {
	display: grid;
	grid-template-columns: 8ch 1fr;
}

@media (min-width: 660px) {

	.picture__slider,
	.sliderOne,
	.sliderTwo {
		height: 400px;
	}

	.page__title {
		left: calc(100vw - 180px);
	}

	.hero__section {
		grid-template-columns: 2fr 1fr;
		grid-gap: 1rem;
	}

	.main__section {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
	}

	.sponsors {
		grid-template-columns: 1fr 1fr;
	}

	form p {
		grid-template-columns: 140px 1fr;

	}

	form label {
		text-align: right;
	}

	form input[type='checkbox'] {
		margin-left: calc(100% - 2rem);
	}
}

#book:active {
	opacity: 0.3;
}

#contact:active {
	opacity: 0.3;
}

.button_room {
	font-size: 12px;
	width: 100px;
	position: absolute;
	top: 8rem;
	right: 2rem;
}

