{% extends 'base.html' %}
{% load static %}


{% block main %}

	<main>
		<h1>Confirmation</h1>
		<p>Thank you for registering</p>
		<p>Please check your details and contact organiser if anything is not quite right.</p>
		<div class='confirm'>
			<p>Name: <span>{{ registered.name }}</span></p>
			<p>Email: <span>{{ registered.email }}</span></p>
			<p>Membership: <span>{{ registered.membership }}</span></p>
			<p>Room type: <span>{{ registered.room }}</span></p>
			<p>Status: <span>{{ registered.status }}</span></p>
			<p>Notes: <span>{{ registered.notes }}</span></p>
		</div>
		<a href="{% url 'register' %}">
			<button>Register another</button>
		</a>
		<a href="{% url 'update' registered.id %}">
			<button>Make corrections</button>
		</a>
	</main>

{% endblock %}
