{% extends 'base.html' %}
{% load static %}


{% block main %}

	<main>
		<h1>Register here</h1>
		<div class="instruction">
			<p>A limited number of rooms have been reserved. To assist organisers and to avoid disappointment it is recomended that you book and pay early.</p>
			<p>Separate registrations are required for each person, whether riding or not. </p>
			<p>Please include any <strong>dietry requirements</strong> along with other requests below.  </p>
		</div>

		<p class='error'>{{ message }}</p>
		
		<form action="." method="post">
			{% csrf_token %}
			<p>
				<label for="id_name">Full Name:</label>
				<input type="text" name="name" maxlength="30" required="" id="id_name "value={{ details.name }}>

			</p>
			<p>
				<label for="id_email">Email:</label>
				<input type="email" name="email" maxlength="254" required="" id="id_email" value={{ details.email }}>
			</p>
			<p>
				<label for="id_status">Status:</label>
				<select name="status" required="" id="id_status">
					  <option value="1" selected>Rider</option>
					  <option value="2">Volunteer</option>
					  <option value="3">Non-rider</option>
				</select>
			</p>
			<p>
				<label for="id_membership">Membership:</label>
				<select name="membership" required="" id="id_membership">
					  <option value="1" selected>AusCycling (prefered)</option>
					  <option value="2">Bicycle Queensland</option>
					  <option value="3">Neither (Non-riders only)</option>
				</select>
				
			</p>
			<p>
				<label for="id_room">Room preference:</label>
				<select name="room" required="" id="id_room">
				  <option value="1">Double</option>
				  <option value="2">Sole occupancy (add $110)</option>
				  <option value="3" selected >Twin share</option>
				  <option value="4">No accommodation</option>
				</select>
			</p>

			<p>
				<label for="id_notes">Requests:</label>
				<input type="text" name="notes" maxlength="100" id="id_notes "value={{ details.notes }}>
			</p>
			<p>
				<input type="checkbox" name="acknowledge" required>
				<label for="id_acknowledge">I have read and agree to the <a href="{% url 'important' %}" target="_blank">important information.</a></label>
			</p>
			<input id="book" type="submit" value="Register me" name="">
		</form>

	</main>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'register.js' %}"></script>
{% endblock %}

