{% extends 'base.html' %}
{% load static %}


{% block main %}

	<main>
		<h1>Reserve your place</h1>
		<p class="instruction">Please complete the details below to reserve your spot on the Lifecycle Winter Warmer. Separate registration is required for each person, whether riding or not. </p>

		<p class='error'>{{ message }}</p>
		
		<form action="." method="post">
			{% csrf_token %}
			<p>
				<label for="id_name">Full Name:</label>
				<input type="text" name="name" maxlength="30" required="" id="id_name "value={{ details.name }}>

			</p>
			<p>
				<label for="id_email">Email:</label>
				<input type="email" name="email" maxlength="254" required="" id="id_email" value={{ details.email }}>
			</p>
			<p>
				<label for="id_status">Status:</label>
				<select name="status" required="" id="id_status">
					  <option value="1" selected>Rider</option>
					  <option value="2">Volunteer</option>
					  <option value="3">Non-rider</option>
				</select>
			</p>
			<p>
				<label for="id_membership">Membership:</label>
				<select name="membership" required="" id="id_membership">
					  <option value="1" selected>AusCycling (prefered)</option>
					  <option value="2">Bicycle Queensland</option>
					  <option value="3">Neither (Non-riders only)</option>
				</select>
				
			</p>
			<p>
				<label for="id_room">Room preference:</label>
				<select name="room" required="" id="id_room">
				  <option value="1">Double</option>
				  <option value="2">Sole occupancy (add $100)</option>
				  <option value="3" selected >Twin share</option>
				  <option value="4">No accommodation</option>
				</select>
			</p>

			<p>
				<label for="id_notes">Requests:</label>
				<input type="text" name="notes" maxlength="30" required="" id="id_notes "value={{ details.notes }}>
			</p>
			<p>
				<input type="checkbox" name="acknowledge" required>
				<label for="id_acknowledge">I have read and agree to the <a href="{% url 'important' %}">
important information.</a></label>
			</p>
			<input type="submit" value="Register" name="">
		</form>

	</main>

{% endblock %}
