{% extends 'base.html' %}
{% load static %}


{% block main %}

	<main>
		<h1>The route</h1>
		<div class="brief">
		<h3>Saturday</h3>
		<p>The route out is approx 120km with just over 2,100m of elevation gain. </p>
		<div class="directions">
			<p>0.0km</p><p>We meet at the northen carpark area of Roma Street Parklands. </p>
			<p>19.7km </p><p>The route first takes us out to Samford, and on to Dayboro. </p>
			<p>43.9km </p><p>Optional stop for a nature break at Dayboro and to shed a layer of clothing before starting the climb to Mt Mee. </p>
			<p>52.4km </p><p>At the top of the main part of the climb we will stop for a brief break and fuel up with some morning tea. </p>
			<p>66.2km </p><p>Beyond Mt Mee proper there is a left turn by the school and a winding descent and along to a left hand turn onto the D'Agular Highway for a brief while into Woodford where we'll stop at the bakery for early lunch. </p>
			<p>82.9km </p><p>Lunch stop in Woodford.</p>
			<p>86.4km </p><p>After lunch, it's out back along the D'Agular before a right hand turn into Kilcoy Beerwah Rd which we follow for several kilometres. </p>
			<p>99.9km </p><p>Left turn onto Stanley River Road. The climbing has already begun by this stage. </p>
			<p>105.3km </p><p>There is a sharp climb of around 18% for a few hundred metres then it starts to level off for the run into Maleny.</p>
			<p>117.3km </p><p>Turn right onto Mountain View Road. </p>
			<p>118.7km </p><p>Tranquil Park is on your right. Take the second entrance to reception.</p>
		</div>
		<a href="{% static 'assets/route/WinterWarmer_2024.gpx' %}" download><button>Download GPX file</button></a>
		<h3>Sunday</h3>
		<p>The return journey is slightly longer, but downhill! Nevertheless the 127km still has almost 1,500m of elevation. </p>
		<div class="directions">
			<p>0.0km</p><p>Head east along Mountain View Road for 4.8km</p>
			<p>4.8km</p><p>Turn right onto Landsborough Rd for 3.8km and keep an eye out for the right turn. </p>
			<p>8.6km</p><p>Just as the road tilts down, turn right into Bald Knob Road.</p>
			<p>19.0km</p><p>Keep rolling through Peachester. You're about to enjoy a fabulous gently twisting downhill. </p>
			<p>25.5km</p><p>The descending is done. Turn right onto Old Gympie Road. Keep and eye out on the right for Mount Coonowrin after which we merge with Beerburrim-Woodford Rd.</p>
			<p>41.4km</p><p>Turn right onto Beerburrum Road.</p>
			<p>47.1km</p><p>Another right turn at Elimbah, this time onto Twin View Rd.</p>
			<p>54.5km</p><p>Left turn onto Newlands Rd.</p>
			<p>60.8km</p><p>Turn right then left and right and head over to the bakery in Wamuran for a half-way recovery stop. </p>
			<p>60.8km</p><p>After a break, follow the Old North Road southeast, then south </p>
			<p>72.4km</p><p>Turn left on Caboolture River Rd for 2.2km. </p>
			<p>74.6km</p><p>Turn right onto Moorina Rd. </p>
			<p>79.1km</p><p>There's a nice picnic spot along Burpengary Creek</p>
			<p>80.3km</p><p>Left to Forest Hills Drive</p>
			<p>84.7km</p><p>Right to Oakey Flat Road</p>
			<p>89.6km</p><p>Exit the roundabout to the right followed by a left still following Oakey Flat Road. </p>
			<p>93.3km</p><p>Right into Mumford Road</p>
			<p>93.9km</p><p>Veer left into Browns Road</p>
			<p>95.0km</p><p>Left to Moore Rd</p>
			<p>100.0km</p><p>Left onto Dayboro Rd</p>
			<p>102.3km</p><p>Right onto Youngs Crossing Road which becomes South Pine Road</p>
			<p>121.1km</p><p>Left into Orchid Street, then zigzag right to Corbett and left to Sicklefield Rd. </p>
			<p>122.0km</p><p>Right onto what becomes South Pine Road.</p>
			<p>127.1km</p><p>Up onto the footpath on the left and carefully down the ramp and into Roma Street Parklands. Phew!</p>
		</div>
		<a href="{% static 'assets/route/WinterWarmerReturn_2024.gpx' %}" download><button>Download GPX file</button></a>
		</div>
	</main>

{% endblock %}
