{% extends 'base.html' %}
{% load static %}


{% block main %}

	<main>
		<h1>Volunteer information</h1>
		<p>Volunteers are a necessary part of running an event suh as this. There are a number of roles required, some have been allocated and further assistance would be appreciated. </p>
		<ul>Roles include
			<li>Driver for lead vehicle</li>
			<li>Driver for sag wagon</li>
			<li>Event photographer</li>
			<li>Other</li>
		</ul>
		<p>If you would like to participate in the event please register for a place and select "volunteer" from the dropdown selector. </p>
		<p>Someone will be in touch to discuss how you would like to be involved.</p>
		<a href="{% url 'register' %}"><button>Register</button></a>

	</main>

{% endblock %}
